
.icon-align-left:before { content: '\e800'; } /* '' */
.icon-align-center:before { content: '\e801'; } /* '' */
.icon-align-right:before { content: '\e802'; } /* '' */
.icon-align-justify:before { content: '\e803'; } /* '' */