body {
  background: url("../images/patternhead.jpg") fixed no-repeat;
  margin: 15px;
}
.decorated-1 {
  font-family: "Pacifico", cursive;
  text-align: center;
  color: #325029;
  text-decoration: underline;
  }

.decorated-2 {
  font-family: "Caveat", cursive;;
  text-align: justify-all;
  font-size: 2rem;
  text-indent: 30px;
  margin: 10px;
}
